*.log
wp-config.php
advanced-cache.php
backup-db/
backups/
blogs.dir/
cache/
upgrade/
mu-plugins/
wp-cache-config.php
plugins/hello.php

/.htaccess
/license.txt
/readme.html
/sitemap.xml
/sitemap.xml.gz

plugins/enable-media-replace/
themes/twentyseventeen/
uploads/
plugins/index.php
package-lock.json
prepros-6.config
node_modules/