/*--------------------------------------------------------------
8.0 Clearings
--------------------------------------------------------------*/
.clear:before,
.clear:after,
.container:before,
.container:after,
.container-fluid:before,
.container-fluid:after,
.row:before,
.row:after,
.front-page-global-wrapper:before,
.front-page-global-wrapper:after,
.site-wrapper:before,
.site-wrapper:after,
.site-header:before,
.site-header:after,
.sitebar:before,
.sitebar:after,
.sitebar-inside:before,
.sitebar-inside:after,
.site-branding:before,
.site-branding:after,
.main-navigation:before,
.main-navigation:after,
.site-primary-menu:before,
.site-primary-menu:after,
.site-content:before,
.site-content:after,
.site-footer:before,
.site-footer:after,
.site-footer-widgets:before,
.site-footer-widgets:after,
.site-info:before,
.site-info:after,
.entry-content:before,
.entry-content:after,
.comment-body:before,
.comment-body:after,
.comment-meta:before,
.comment-meta:after,
.comment-content:before,
.comment-content:after {
  content: '';
  display: table;
}

.clear:after,
.container:after,
.container-fluid:after,
.row:after,
.front-page-global-wrapper:after,
.site-wrapper:after,
.site-header:after,
.sitebar:after,
.sitebar-inside:after,
.site-branding:after,
.main-navigation:after,
.site-primary-menu:after,
.site-content:after,
.site-footer:after,
.site-footer-widgets:after,
.site-info:after,
.entry-content:after,
.comment-body:after,
.comment-meta:after,
.comment-content:after {
  clear: both;
}