/*--------------------------------------------------------------
3.6 HTML5 Elements
--------------------------------------------------------------*/

figure {
  margin: 0;
}

embed,
iframe,
object {
  max-width: 100%; /* Make sure embeds and iframes fit their containers */
}

audio,
canvas,
video {
  display: inline-block;
  max-width: 100%;
}