/*--------------------------------------------------------------
3.3 List
--------------------------------------------------------------*/

ul, ol {
  margin: 0 0 1.5em 3em;
}

ul {
  list-style: disc;
  ul {
    list-style: circle;
    ul {
      list-style: square;
    }
  }
}

ol {
  list-style: decimal;
  ol {
    list-style: upper-alpha;
    ol {
      list-style: lower-roman;
      ol {
        list-style: lower-alpha;
      }
    }
  }
}

li > {
  ul, ol {
    margin-bottom: 0;
    margin-left: 1.5em;
  }
}

dt {
  font-weight: bold;
}

dd {
  margin: 0 1.5em 1.5em;
}