/*--------------------------------------------------------------
2.3 Paragraph
--------------------------------------------------------------*/

p {
  margin-bottom: 1rem;
  &:last-child {
    margin-bottom: 0;
  }
  &:empty {
    display: none;
  }
}