/*--------------------------------------------------------------
14.0 Utilities
--------------------------------------------------------------*/
.container-fluid {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.affix {
  position: fixed;
}